@font-face {
    font-family: "lane_test";
    src: url("fonts/LANE.ttf");
}


body{
    font-family: lane_test, serif;
    background-color:  #1F2023;
    font-size: 24px;
    color: white;
}

a{
    color: black;
    text-decoration: none;
    list-style-type:none;
    padding: 1px 1px;
}

.button_a{
    width: 20%;
    display: block;
    align-self: center;
    margin: 0 auto;
    padding: 20px 100px 18px 100px;
    color: white;
    font-family: arial;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background: #26BCB5;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.button_a:hover{
    background: #20938e;
}

.button_a:active{
    transform: scale(1.025);
}

li:hover {
    background-color: #40A497;
    color: white;
}

h1{
    justify-content: center;
}

li{
    padding: 23px 58px;
    list-style-type:none;
    background-color: white;
}

#content{
    display: flex;
    justify-content: center;
}

iframe{
    align: middle;
}

.corps{
    width: 88%;
    margin: 8% auto 0;
    color: #1F2023;
    min-height: 100vh;
    font-size: 32px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:focus {
    outline: none;
}

#menu
{
    padding: 1%;
    font-size: 30px;
    float: left;
    cursor: pointer;
    color: white;
    margin-top: 4%;
    margin-left: 1%;
}

.sideNav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a
{
    padding: 8px 8px 15px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover:not(:first-child)
{
    color: black;
    background-color: white;
}

.sideNav .closeBtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;*
color: black;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 92%;
    background-color: #26bcb5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1e7972;
}

<!--   -->

#onglet_pourquoi:hover, #onglet_profile:hover, #onglet_quoi:hover, #onglet_qui:hover
{
    background-image: url(../assets/back.jpg);
}

.onglet
{
    display: inline-block;
    margin-right: 3px;
    padding: 1% 2% 3px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}
.onglet_0
{
    background:#bbbbbb;
    border-bottom:1px solid black;
    border-radius: 10px 10px 0 0;
}
.onglet_1
{
    background-image:url(../assets/back.jpg);
    border-bottom:0 solid black;
    padding-bottom:4px;
    border-radius: 10px 10px 0 0;
}
.contenu_onglet
{
    background-image: url(../assets/back.jpg);
    border: 1px solid black;
    margin-top: -1px;
    padding: 4%;
    text-align: center;
    display: none;
}

.button_a{
    width: 20%;
    display: block;
    align-self: center;
    margin: 0 auto;
    padding: 20px 100px 18px 100px;
    color: white;
    font-family: arial, serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background: #26BCB5;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.button_a:hover{
    background: #20938e;
}

.button_a:active{
    transform: scale(1.025);
}

h1
{
    margin:0;
    padding:0;
}

.icon{
    padding-right: 16px;
}

tr, th {
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.table{
    border-collapse: collapse;
    box-shadow: 1px 1px 12px #555;
    font-size: 25px;
}