@font-face {
    font-family: "lane_test";
    src: url("fonts/LANE.ttf");
}


body{
    font-family: lane_test, serif;
    background-color:  #1F2023;
    font-size: 24px;
    color: white;
}

a{
    color: black;
    text-decoration: none;
    list-style-type:none;
    padding: 1px 1px;
}

.button_a{
    width: 20%;
    display: block;
    align-self: center;
    margin: 0 auto;
    padding: 20px 100px 18px 100px;
    color: white;
    font-family: arial;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background: #26BCB5;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.button_a:hover{
    background: #20938e;
}

.button_a:active{
    transform: scale(1.025);
}

li:hover {
    background-color: #40A497;
    color: white;
}

h1{
    justify-content: center;
}

li{
    padding: 23px 58px;
    list-style-type:none;
    background-color: white;
}

#content{
    display: flex;
    justify-content: center;
}

iframe{
    align: middle;
}

.corps{
    width: 80%;
    margin: 8% auto 0;
    color: #1F2023;
    min-height: 100vh;
    font-size: 32px;
}

.social-buttons {
    text-align: center;
    padding-top: 6%;
}

.social-button {
    display: inline-block;
    background-color: #fff4fd;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-left: 0 !important;
    margin-right: 15px !important;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: .99;
    border-radius: 50%;
    -webkit-transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.59);
    transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.59);
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.social-button:before {
    content: '';
    background-color: #000;
    width: 120%;
    height: 120%;
    position: absolute;
    top: 90%;
    left: -110%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.79);
    transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.79);
}

.social-button .fa {
    font-size: 28px;
    vertical-align: middle;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.59);
    transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.59);
}

.social-button.facebook:before {
    background-color: #3B5998;
}

.social-button.facebook .fa {
    color: #3B5998;
}

.social-button.twitter:before {
    background-color: #3CF;
}

.social-button.twitter .fa {
    color: #3CF;
}

.social-button.google:before {
    background-color: #DC4A38;
}

.social-button.google .fa {
    color: #DC4A38;
}

.social-button.dribbble:before {
    background-color: #F26798;
}

.social-button.dribbble .fa {
    color: #F26798;
}

.social-button.skype:before {
    background-color: #00AFF0;
}

.social-button.skype .fa {
    color: #00AFF0;
}

.social-button:hover:before {
    top: -10%;
    left: -10%;
}

.social-button:hover .fa {
    color: #fff;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.social-button:focus {
    opacity: .85;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:focus {
    outline: none;
}

#menu
{
    padding: 1%;
    font-size: 30px;
    position: fixed;
    float: left;
    cursor: pointer;
    color: white;
    margin-top: 4%;
    margin-left: 1%;
}

.sideNav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a
{
    padding: 8px 8px 15px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover:not(:first-child)
{
    color: black;
    background-color: white;
}

.sideNav .closeBtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;*
color: black;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 92%;
    background-color: #26bcb5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1e7972;
}

<!--   -->

.onglet
{
    display: inline-block;
    margin-right: 3px;
    padding: 1% 2% 3px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}
.onglet_0
{
    background:#bbbbbb;
    border-bottom:1px solid black;
    border-radius: 10px 10px 0 0;
}
.onglet_1
{
    background-image:url(../assets/back.jpg);
    border-bottom:0 solid black;
    padding-bottom:4px;
    border-radius: 10px 10px 0 0;
}
.contenu_onglet
{
    background-image: url(../assets/back.jpg);
    border: 1px solid black;
    margin-top: -1px;
    padding: 4%;
    text-align: center;
    display: none;
    height: 400px;
}

.button_a{
    width: 20%;
    display: block;
    align-self: center;
    margin: 0 auto;
    padding: 20px 100px 18px 100px;
    color: white;
    font-family: arial, serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background: #26BCB5;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.button_a:hover{
    background: #20938e;
}

.button_a:active{
    transform: scale(1.025);
}

h1
{
    margin:0px;
    padding:0px;
}

.icon{
    padding-right: 16px;
}

tr, th {
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.table{
    border-collapse: collapse;
    box-shadow: 1px 1px 12px #555;
    font-size: 25px;
}