@font-face
{
    font-family: "Roboto";
    src: url("fonts/Roboto-Thin.ttf");
}

body
{
    font-family: roboto, serif;
    background-color:  #1F2023;
    font-size: 24px;
    color: white;
    overflow-y: scroll;
}

a
{
    color: black;
    text-decoration: none;
    list-style-type:none;
    padding: 1px 1px;
}

.logo
{
    border: 1px solid gray;
    border-radius: 13px;
    width: 96px;
    height: 96px;
}

.install{
    width: 20%;
    display: block;
    align-self: center;
    margin: 0 auto;
    padding: 20px 0 18px 0;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background: #26BCB5;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

input[type="button"]
{
    width: 20%;
    display: block;
    align-self: center;
    margin: 0 auto;
    padding: 20px 0 18px 0;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background: #26BCB5;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

input[type="button"][disabled]
{
    opacity: 0.5;
}

.button_a
{
    width: 20%;
    display: block;
    align-self: center;
    margin: 0 auto;
    padding: 20px 100px 18px 100px;
    color: white;
    font-family: arial, serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background: #26BCB5;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.button_a:hover
{
    background: #20938e;
}

.button_a:active
{
    transform: scale(1.025);
}

h1
{
    justify-content: center;
}

li
{
    list-style-type:none;
}

#content
{
    display: flex;
    justify-content: center;
}

iframe
{
    align: middle;
}

.corps
{
    width: 88%;
    margin: 8% auto 0;
    color: #1F2023;
    min-height: 100vh;
    font-size: 32px;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:focus
{
    outline: none;
}

#menu
{
    padding: 1%;
    font-size: 30px;
    float: left;
    cursor: pointer;
    color: white;
    margin-top: 4%;
    margin-left: 1%;
}

.sideNav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a
{
    padding: 8px 8px 15px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover:not(:first-child)
{
    color: black;
    background-color: white;
}

.sideNav .closeBtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

input[type=text], input[type=password],input[type=url], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;*
color: black;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]
{
    width: 92%;
    background-color: #26bcb5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover
{
    background-color: #1e7972;
}

#ProfileTab:hover, #InstallTab:hover, #SuggestionTab:hover, #BugTab:hover
{
    background-image: url(../assets/png/back.jpg);
}

.tab
{
    display: inline-block;
    margin-right: 3px;
    padding: 1% 2% 3px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}
.Tab0
{
    background:#bbbbbb;
    border-bottom:1px solid black;
    border-radius: 10px 10px 0 0;
}

.Tab1
{
    background-image:url(../assets/png/back.jpg);
    border-bottom:0 solid black;
    padding-bottom:4px;
    border-radius: 10px 10px 0 0;
}

.ContentTab
{
    background-image: url(../assets/png/back.jpg);
    border: 1px solid black;
    margin-top: -1px;
    padding: 4%;
    text-align: center;
    display: none;
}

.button_a
{
    width: 20%;
    display: block;
    align-self: center;
    margin: 0 auto;
    padding: 20px 100px 18px 100px;
    color: white;
    font-family: arial, serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background: #26BCB5;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.button_a:hover
{
    background: #20938e;
}

.button_a:active
{
    transform: scale(1.025);
}

h1
{
    margin:0;
    padding:0;
}

#table
{
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.element, .column
{
    flex: 1;
    margin: 4px 4px 4px 0;
    border-radius: 10px;
}

.column:not(:first-child)
{
    margin-left: 4%;
}

.column
{
    background-color: rgba(128, 128, 128, 0.08);
    display: block;
    overflow: auto;
    padding: 45px;
    -webkit-box-shadow: inset 0 0 12px -1px rgba(4,48,37,0.41);
    -moz-box-shadow: inset 0 0 12px -1px rgba(4,48,37,0.41);
    box-shadow: inset 0 0 12px -1px rgba(4,48,37,0.41);
}

.element
{
    margin-top: 3%;
}

.icon
{
    padding-right: 16px;
    width: 32px;
}

.softTitle
{
    font-size: 26px;
    margin-top: -15px;
    overflow: hidden;
    white-space: nowrap;
    width: 98px;
}

.info
{
    width: 15px;
    cursor: pointer;
    margin-bottom: 6%;
}

.table
{
    border-collapse: collapse;
    box-shadow: 1px 1px 12px #555;
    font-size: 25px;
}

tr
{
    border-bottom: 1px solid #ddd;
    height: 50px;
}


/* ~~~~~~~~~~~~~~~~~~~ CHECK BOX ~~~~~~~~~~~~~~~~~~~ */
.container
{
    font-size: 28px;
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.containerElement {
    font-size: 28px;
    position: relative;
    margin-bottom: 12px;
    display: inline-block;
    width: 79%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.containerElement[online="false"] {
    cursor: default;
}
.error
{
    width: 25px;
    margin-top: 0.3em;
    margin-left: 0.2em;
    position: absolute;
    cursor: pointer;
}


/* Hide the browser's default checkbox */
.container input, .containerElement input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;
}

/* Create a custom checkbox */
.checkMark
{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #1f2023;
    border-radius: 5px;
    margin-top: 0.1em;
}

.checkMark[online="false"]
{
    opacity: 0.5;
}

.checkMarkLogo
{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #1f2023;
    border-radius: 10px 0 0 0;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

/* On mouse-over, add a grey background color */
/*.container:hover input ~ .checkMark, .container:hover input ~ .checkMarkLogo, .containerElement:hover input ~ .checkMark, .containerElement:hover input ~ .checkMarkLogo
{
    background-color: #1f2023;
}
*/

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkMark, .container input:checked ~ .checkMarkLogo, .containerElement input:checked ~ .checkMark, .containerElement input:checked ~ .checkMarkLogo
{
    background-color: #26bcb5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkMark:after, .checkMarkLogo:after
{
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkMark:after, .container input:checked ~ .checkMarkLogo:after, .containerElement input:checked ~ .checkMark:after, .containerElement input:checked ~ .checkMarkLogo:after
{
    display: block;
}

/* Style the checkmark/indicator */
.container .checkMark:after, .containerElement .checkMark:after
{
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #1e7972;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container .checkMarkLogo:after, .containerElement .checkMarkLogo:after
{
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #1e7972;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Machine's Details */

.onclick-menu
{
    position: relative;
    display: inline-block;
    padding: 0;
    outline: 0;
    cursor:pointer;
}

.onclick-menu:before
{
    content: "details";
    padding: 5px 10px;
    background-color: #94a4a5;
    font-size: 16px;
    font-family: arial, serif;
    border-radius: 5px;
}

.onclick-menu:focus
{
    pointer-events: none;
}

.onclick-menu:focus .onclick-menu-content
{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.onclick-menu-content
{
    position: absolute;
    z-index: 1;
    display: inherit;
    opacity: 0;
    text-align: left;
    visibility: hidden;
    transition: visibility 0.5s;
    background-color: #364656;
    width: auto;
    margin-top: 3px;
    left: -115px;
    padding: 10px;
    font-size: 12px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 5px;
}

.onclick-menu-content:before
{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 10px solid #364656;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
}

a.active {
    border-bottom: 0.38em solid #888;
    border-left: 0.38em solid transparent;
    border-right: 0.38em solid transparent;
    margin-left: -0.38em;
    margin-top: -12px;
    position: absolute;
    padding: 0;
}

.column .software-description {
    background-color: #888;
    clear: both;
    display: block;
    margin-bottom: 1em;
}

.column .software-entry {
    background: #888;
    box-sizing: border-box;
    clear: both;
    color: #fff;
    min-height: 4em;
    overflow: hidden;
    padding: 0 1em 1em 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.column .software-entry .soft-img {
    box-sizing: border-box;
    float: right;
    margin-left: 1em;
    padding-left: 1em;
    text-align: center;
    width: 50%;
}
.column .software-entry .soft-title {
    font-size: 30px;
    font-weight: 400;
}
.column .close-button {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNLjcuN2wxOCAxOG0tMTggMGwxOC0xOCIvPjwvc3ZnPg==) no-repeat scroll 50% 50% transparent;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 1;
    overflow: hidden;
    text-decoration: none;
    text-indent: 5em;
    white-space: nowrap;
    width: 20px;
    will-change: opacity;
    z-index: 5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    float: right;
    margin-top: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
}

.column .close-button.active {
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.column .close-button:hover {
    opacity: 0.5;
}

.fit {
    text-align: center;
    white-space: nowrap;
    font-size: 24px;
    width: inherit;
}

.soft-img, .soft-desc
{
    margin-top: 5%;
    font-size: 15px;
    text-align: justify;
}

.soft-img-src
{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 16px;
}

.softwareTable
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.elementName
{
    text-align: left;
    margin-left: 2em;
}

.elementName.elementInput
{
    position: unset;
    visibility: visible;
    opacity: unset;
    border: none;
    background: transparent;
    font-size: 28px;
    padding: 0;
    /*margin: 0 0 0 20%;*/
    font-family: roboto, serif;

    width: 72%;
    margin: 0;
}

.iconConfig
{
    display: block;
    float: right;
}

.iconSVG
{
    width: 40px;
    height: 40px;
}

.statusSVG
{
    width: 20px;
    height: 20px;
    margin: 0.2em 0.5em 0 1.8em;
    float: left;
}

#formProfile, #formSuggestion, #formBug
{
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.labelSuggestion
{
    width: 30%;
    float: left;
    display: block;
    margin: 8px 0;
    text-align: left;
    font-size: 20px;
    line-height: 2em;
}

.labelSuggestion.big
{
    width: 40%;
}

.inputSuggestion
{
    font-size: 14px;
    width: 70% !important;
    float: right;
}

.inputSuggestion.big
{
    width: 60% !important;
}

.txtAreaSuggestion
{
    font: 13px Arial;
    resize: none;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 70%;
}

.submitSuggestion
{
    clear: left;
    float: left;
    width: 100% !important;
    padding: 14px 0 !important;
    margin-top: 1em !important;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Button container */
.progress-button {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 45%;
    min-width: 250px;
    margin: 1em auto 0 auto;
    box-sizing: border-box;
}

/* Button style */
.progress-button button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 250px;
    height: 70px;
    border: 2px solid #26BCB5;
    border-radius: 15px;
    background: transparent;
    color: #26BCB5;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.progress-button button:disabled {
    opacity: 0.5;
    border: 2px solid #868686;
    background: #d6e0f6;
    color: #868686;
}

.progress-button button:hover:enabled {
    background-color: #26BCB5;
    color: #fff;
}

.progress-button button:focus {
    outline: none;
}

/* Text (transition for when returning to initial state) */
.progress-button button span {
    -webkit-transition: opacity 0.3s 0.1s;
    transition: opacity 0.3s 0.1s;
}

/* Common style of SVGs */
.progress-button svg {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

.progress-button svg path {
    opacity: 0;
    fill: none;
}

.progress-button svg.progress-circle path {
    stroke: #1ECD97;
    stroke-width: 5;
}

.progress-button svg.checkmark path,
.progress-button svg.cross path {
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 4;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

/* Loading, success and error effects */
.loading.progress-button button {
    opacity: 1;
    width: 70px; /* make a circle */
    border-width: 5px;
    border-color: #ddd;
    background-color: transparent;
    color: #fff;
    border-radius: 40px;
}

.loading.progress-button span {
    -webkit-transition: opacity 0.15s;
    transition: opacity 0.15s;
}

.loading.progress-button span,
.success.progress-button span,
.error.progress-button span {
    opacity: 0; /* keep it hidden in all states */
}

.success.progress-button button,
.error.progress-button button {
    opacity: 1;
    -webkit-transition: background-color 0.3s, width 0.3s, border-width 0.3s;
    transition: background-color 0.3s, width 0.3s, border-width 0.3s;
}

.success.progress-button button {
    border-color: #1ECD97;
    background-color: #1ECD97;
}

.error.progress-button button {
    border-color: #FB797E;
    background-color: #FB797E;
}

.loading.progress-button svg.progress-circle path,
.success.progress-button svg.checkmark path,
.error.progress-button svg.cross path {
    opacity: 1;
    -webkit-transition: stroke-dashoffset 0.3s;
    transition: stroke-dashoffset 0.3s;
}

button[disabled] {
    cursor: default;
}

input[disabled] {
    cursor: default;
}

.column.logs {
    margin-left: 0%;
    margin-top: 1em;
}

.displaylogs {
    text-align: left;
    margin-top: 1em;
}

.textlogs {
    width: 95%;
    height: 100%;
}

.uninstall {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    width: 100%;
}


.uninstall.softname
{
    width: 65%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.uninstall.softversion
{
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.uninstall.uninstallicon
{
    width: 7%;
    margin-top: 0px;
    position: inherit;
}

.uninstallerror
{
    width: 25px;
    cursor: pointer;
}